.container{
    display: flex;
    align-items: center;

}
#btn1,#btn2{
    width:50px;
    height:50px;
    border:#b34040 2px solid;
    
}
#btn1{
    border-radius: 5px 0 0 5px ;
    color: #b34040;
    
}
#btn2{
    border-radius: 0 5px 5px 0;
    background: #b34040;
    color: white;

}


h1{
    padding: 0;
    margin: 0;
    width:50px;
    height:46px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background: #fae6e6;
    color: #b34040;
}